

.sidenav {
    height: 0%;
    width: 45%;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 5%;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 0px 0px 20px 0px;
    display: block;
}
